* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Quicksand", serif;
    /* background-color: lightblue; */
    background-color: #eef2e2;
    width: 100%;
}
.logo {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;

    /* logo */
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
main {
    height: 50px;
    padding: 10px;
    /* background-color:#34495e ; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    /* shadow */
    
    /* box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11); */

}
ul {
    display: flex;
    gap: 40px;
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    font-weight: 550;
    font-size: 17px;
    color: black;
}
.content {
    display: flex;
    height: 120vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.myphoto img {
    aspect-ratio: 1/1;
    width: 400px;
    border-radius: 1%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11);
}
.biodata {
    width: 500px;
    height: 350px;
    text-align: justify;
    font-weight: 500;
}
.secondPage {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 300px;
    

}
.grid {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 5rem;
    padding: 10px;

}
.foto {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1%;

    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
h1 {
    font-size: 60px;
    font-weight: 550;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.thirdPage {
    height: 100vh;
}
.day1Recap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.day1img img {
    aspect-ratio: 1/1;
    width: 400px;
    border-radius: 1%;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
.day1desc {
    width: 600px;
    height: 350px;
    text-align: justify;
    font-weight: 500;
    align-items: center;
}
.fourthPage {
    height: 100vh;
}
.day2Recap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.day2img img {
    aspect-ratio: 1/1;
    width: 400px;
    border-radius: 1%;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
.day2desc {
    width: 600px;
    height: 350px;
    text-align: justify;
    font-weight: 500;
    align-items: center;
}
.fourthPage h1 {
    margin-top: 60px;
}
.fifthPage {
    width: 100%;
}
.day3Recap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.day3img img {
    aspect-ratio: 1/1;
    width: 400px;
    border-radius: 1%;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
.day3desc {
    width: 600px;
    height: 350px;
    text-align: justify;
    font-weight: 500;
    align-items: center;
}
.fifthPage h1 {
    font-size: 60px;
    font-weight: 550;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.navbar ul li a:hover {
    opacity: 0.5;
}
.sixthPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teks{
    width: 800px;
    text-align: justify;
}
.social-media {
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.social-media ul {
    justify-content: center;
    font-size: 60px;
    background-color: gray;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .content {
        flex-direction: column;
    }
    .myphoto img {
        width: 300px;
    }
    .biodata {
        width: 330px;
    }
    .thirdPage {
        margin-bottom: 600px;
    }
    .day1Recap {
        flex-direction: column;
        align-items: center;

    }
    .day1img img {
        width: 300px;
    }
    .day1desc {
        width: 330px;
    }
    .fourthPage {
        margin-bottom: 300px;
    }
    .day2Recap {
        flex-direction: column-reverse;
        align-items: center;
    }
    .day2img img {
        width: 300px;
    }
    .day2desc {
        width: 330px;
    }
    .day3Recap {
        flex-direction: column;
        align-items: center;
    }
    .day3img img {
        width: 300px;
    }
    .day3desc {
        width: 330px;
    }
    p.teks{
        width: 330px;
    }
    /* Navbar */

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        position: static;
        margin-bottom: 140px;
        margin-top: 150px;
    }
    main ul {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 802px) {
    .content {
        flex-direction: column;
 
    }
    .day1Recap {
        flex-direction: column;
        align-items: center;
    }
    .day2Recap {
        flex-direction: column-reverse;
        align-items: center;
    }
    .day3Recap {
        flex-direction: column;
        align-items: center;
    }

}
